body
	font-family Arial
	font-size 16px

.Card
	background-color #C2AC37
	border-radius .5em
	border 5px solid gray
	width 200px
	
	&-description
		background-color white
		padding .5em
		font-size 12px

	&-image
		width 100%
