body{
	font-family: Arial;
	font-size: 16px;
}

.Card{
	background: #C2AC37;
	border-radius: .5em;
	border: 5px solid gray;
	width:200px;
}
.Card-description{
	background-color: white;
	padding: .5em;
	font-size: 12px;
}
.Card-image{
	width: 100%;
}