doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title Marvel Game Card
	link(rel="stylesheet", href="./public/css/app.css")
body
	//- h1 Marvel game Card
	

	section(class="Layout")
		section(class="Layout-antagonist") 
			each card in [1,2,3,4,5]
				include ./card/template.jade
		section(class="Layout-main")
			div(class="Layout-status")
				each name in ["Josue","Leonidas"]
					include ./status/template.jade

			div(class="Layout-battle")
				div(class="Battle")
					div(class="Battle-antagonist")
						each card in [1,2,3,4,5]
							include ./card/template.jade
					div(class="Battle-player")
						each card in [1,2,3,4,5]
							include ./card/template.jade
			div(class="Layout-phases")
				- text="OMG ese ataque fue muy fuerte, le quitaste 300 puntos"
				include ./phases/template.jade
				

		section(class="Layout-player") 
			each card in [1,2,3,4,5]
				include ./card/template.jade