doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title Marvel Game Card
	link(rel="stylesheet", href="./public/css/app.css")
body
	//- h1 Marvel game Card
	

	section(class="Layout")
		section(class="Layout-antagonist") 
			each card in [1,2,3,4,5]
				include ./card/template.jade
		section(class="Layout-main")
			div(class="Layout-status") status
			div(class="Layout-battle") battle
			div(class="Layout-phases") phases
		section(class="Layout-player") player
			each card in [1,2,3,4,5]
				include ./card/template.jade